<section class="login">
  <h2>Log In</h2>
  <form ng-submit="loginCtrl.login()" novalidate>

    <div>
      <input type="text" name="username" minlength="4" placeholder="username" ng-model="loginCtrl.user.username" required>
    </div>

    <div>
      <input type="text" placeholder="email">
    </div>

    <div>
      <input type="password" name="password" minlength="8" maxlength="20" ng-disabled="loginForm.username.$invalid" placeholder="password" ng-model="loginCtrl.user.password" required>
    </div>

    <button>Log In</button>
  </form>
</section>